version: 8.0.3
frameworks: net8.0

storage: none
source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget FSharp.Json
nuget NUnit
nuget Serilog
nuget Serilog.Sinks.Console
nuget Microsoft.NET.Test.Sdk

// Signing module uses reflection to access internal CryptoConvert class 
nuget Mono.Cecil = 0.11.4

nuget NUnit3TestAdapter

group build
    storage: none
    source https://api.nuget.org/v3/index.json
    frameworks: net8.0

    nuget Sajagi.Exec prerelease
    nuget Fake.Core.Process
    nuget Fake.IO.Zip