version: 7.2.1
frameworks: net6.0

storage: none
source https://api.nuget.org/v3/index.json

nuget FParsec                   >= 1.1.1
nuget FSharp.Core               ~> 7.0
nuget FSharp.Json               >= 0.4.1
nuget FsHtml                    >= 0.2
nuget FsUnit
nuget Serilog                   >= 3
nuget Serilog.Sinks.Console     ~> 3.0
nuget Serilog.Sinks.ColoredConsole >= 3
nuget Glob                      >= 1.1.9
nuget Microsoft.NET.Test.Sdk

// Signing module uses reflection to access internal CryptoConvert class 
nuget Mono.Cecil = 0.11.4

nuget NUnit3TestAdapter

group build
    storage: none
    source https://api.nuget.org/v3/index.json
    frameworks: net7.0

    nuget Sajagi.Exec prerelease
    nuget Fake.Core.Process
    nuget Fake.IO.Zip