version: 7.2.0
frameworks: net6.0

storage: none
source https://api.nuget.org/v3/index.json

nuget FParsec
nuget FSharp.Json
nuget FsHtml
nuget FsUnit
nuget Serilog
nuget Serilog.Sinks.Console ~> 3.0
nuget Serilog.Sinks.ColoredConsole
nuget Glob
nuget Microsoft.NET.Test.Sdk

// Signing module uses reflection to access internal CryptoConvert class 
nuget Mono.Cecil = 0.11.4

nuget NUnit3TestAdapter

group build
    storage: none
    source https://api.nuget.org/v3/index.json
    frameworks: net7.0

    nuget Sajagi.Exec prerelease
    nuget Fake.Core.Process
    nuget Fake.IO.Zip