type file
id Rebex.Jumble.Console
authors Rebex CR s.r.o.
description
    .NET Obfuscator (renamer)
version 0.0.1
files
    bin/Release/net8.0/*.* ==> tools/net8.0
    ../../README.md ==> tools/net8.0
    ../../LICENSE.txt ==> tools/net8.0